%form{ :method => "post", :action =>  "/" }
  %p.required
    %label{ :for => "post_name" }<
      &== Name 
    %input.text#_name{ :name => "post[title]", :type => "text", :value => @post.title }
  %p.required
    %label{ :for => "post_name" }<
      &== Body 
    %textarea{ :name => "post[body]", :cols => 45, :rows => 40}
  %p.submit
    %button.positive{ :type => "submit" }= @post.new? ? "Create Project" : "Update Project"
